{% extends "base.html" %}

{% block headers %}
    <div class="col-md-4">
        <h1 class="questions-headers">New Question</h1>
    </div>
{% endblock %}

{% block left_main_content %}
    <form action="{% url 'save_question' %}" method="post">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-2 title"><p>Title:</p></div>
            <div class="col-md-8 input"><input name="title" type="text"/></div>
        </div>
        <div class="row">
            <div class="col-md-2 title"><p>Text:</p></div>
            <div class="col-md-8 input"><textarea name="text"></textarea></div>
        </div>
        <div class="row">
            <div class="col-md-2 title"><p>Tags:</p></div>
            <div class="col-md-8 input"><input name="tags" type="text"/></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><button type="submit" class="btn btn-primary">ASK!</button></div>
        </div>
    </form>
{% endblock %}

{% block right-main-content %}
    {% include "right_col_template.html" %}
{% endblock %}

{% block bottom %}

{% endblock %}