{% extends "base.html" %}

{% block headers %}
    <div class="col-md-4">
        <h1 class="questions-headers">Hot Questions</h1>
    </div>
    <div class="col-md-4">
        <a href="{% url 'index' %}" class="link">New Questions</a>
    </div>
{% endblock %}

{% block left_main_content %}
    <div class="question-row">
    {% for question in questions %}
        <div id='{{ question.id }}' class="question">
            <div class="col-md-3 question-left-col">
                <div class="question-avatar">
                    <img src="../static/imgs/i.jpeg">
                </div>
                <div class="question-likes">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                    <span>{{ question.likes }}</span>
                    <i class="glyphicon glyphicon-thumbs-down"></i>
                </div>
            </div>
            <div class="col-md-9 question-right-col">
                <div class="question-header">
                    <a href="{% url 'question' question.id %}" class="question-header">{{ question.title }}</a>
                </div>
                <div class="question-annotation">
                    <p>{{ question.text }}</p>
                </div>
                <div class="question-bottom">
                    <span>Answers: {{ question.answers }}</span>
                    {% for tag in question.tags %}
                        <a href="#"><span class="badge">{{ tag }}</span></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block right-main-content %}
    {% include "right_col_template.html" %}
{% endblock %}

{% block bottom %}

{% endblock %}