{% extends "base.html" %}

{% block headers %}
    <div class="col-md-4">
        <a href="{% url 'index' %}" class="link">New Questions</a>
        <a href="{% url 'hot' %}" class="link">Hot Questions</a>
    </div>
{% endblock %}

{% block left_main_content %}
    <div class="row full-question-row">
        <div class="col-md-3 question-left-col">
            <div class="question-avatar">
                <img src="../static/imgs/i.jpeg">
            </div>
            <div class="question-likes">
                <i class="glyphicon glyphicon-thumbs-up"></i>
                <span>{{ question.likes }}</span>
                <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
        </div>
        <div class="col-md-9 question-right-col">
            <div class="question-header">
                <a class="question-header">{{ question.title }}</a>
            </div>
            <div class="question-annotation">
                <p>{{ question.text }}</p>
            </div>
            <div class="question-bottom">
                <span>Answers: {{ question.answers }}</span>
                {% for tag in question.tags %}
                    <a href="#"><span class="badge">{{ tag }}</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="border-block"></div>
    <div class="row answers-row">
        <div class="answer row">
            <div class="col-md-3 question-left-col">
                <div class="question-avatar">
                    <img src="../static/imgs/i.jpeg">
                </div>
            </div>
            <div class="col-md-9 answer-col">
                <div class="answer-header">
                    <a>Name of the question</a>
                </div>
                <div class="answer-annotation">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="answer-bottom">
                    <input type="checkbox"/>Correct
                </div>
            </div>
        </div>
    </div>
    <div class="border-block"></div>
    <div class="row answer-input">
        <textarea></textarea>
        <a class="btn-lg btn-primary">Answer</a>
    </div>
{% endblock %}

{% block right-main-content %}
    {% include "right_col_template.html" %}
{% endblock %}

