<div class="question">
    <div class="col-md-3 question-left-col">
        <div class="question-avatar">
            <img src="../static/imgs/i.jpeg">
        </div>
        <div class="question-likes">
            <i class="glyphicon glyphicon-thumbs-up"></i>
            <span>42</span>
            <i class="glyphicon glyphicon-thumbs-down"></i>
        </div>
    </div>
    <div class="col-md-9 question-right-col">
        <div class="question-header">
            <a class="question-header">Name of the question</a>
        </div>
        <div class="question-annotation">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="question-bottom">
            <span>Answers: 5</span>
            <a href="#"><span class="badge">lorem</span></a>
            <a href="#"><span class="badge">ipsum</span></a>
        </div>
    </div>
</div>