{% extends "base.html" %}

{% block headers %}
    <div class="col-md-4">
        <h1 class="questions-headers">New Questions</h1>
    </div>
    <div class="col-md-4">
        <a class="link">Hot Questions</a>
    </div>
{% endblock %}

{% block left_main_content %}
    <div class="row full-question-row">
        <div class="col-md-3 question-left-col">
            <div class="question-avatar">
                <img src="../static/imgs/i.jpeg">
            </div>
            <div class="question-likes">
                <i class="glyphicon glyphicon-thumbs-up"></i>
                <span>42</span>
                <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
        </div>
        <div class="col-md-9 question-right-col">
            <div class="question-header">
                <a class="question-header">Name of the question</a>
            </div>
            <div class="question-annotation">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="question-bottom">
                <span>Answers: 5</span>
                <a href="#"><span class="badge">lorem</span></a>
                <a href="#"><span class="badge">ipsum</span></a>
            </div>
        </div>
    </div>
    <div class="border-block"></div>
    <div class="row answers-row">
        <div class="answer row">
            <div class="col-md-3 question-left-col">
                <div class="question-avatar">
                    <img src="../static/imgs/i.jpeg">
                </div>
                <div class="question-likes">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="col-md-9 answer-col">
                <div class="answer-header">
                    <a>Name of the question</a>
                </div>
                <div class="answer-annotation">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="answer-bottom">
                    <input type="checkbox"/>Correct
                </div>
            </div>
        </div>
    </div>
    <div class="border-block"></div>
    <div class="row answer-input">
        <textarea></textarea>
        <a class="btn-lg btn-primary">Answer</a>
    </div>
{% endblock %}

{% block right-main-content %}
    {% include "right_col_template.html" %}
{% endblock %}

